---
import getPosts from '../utils/getPosts'

export async function getStaticPaths({ paginate }) {
  const posts = await getPosts()
	return paginate(posts, {
		pageSize: 3,
	})
}

const { page } = Astro.props
const posts = page.data
---

<ol>
		{posts.map((post, index) => (
			<li>
				<a href={post.frontmatter.slug}>
					{post.frontmatter.title}
				</a>
			</li>
		))}
	</ol>
